# Node.js dependencies
node_modules/

# Playwright-specific files and directories
playwright-report/
test-results/
trace-results/
.playwright/
.cache/
.local-browsers/

# # Environment variables and secrets
# .env
# .env.*
# *.envrc

# Logs and temporary files
*.log
tmp/

# IDE and OS specific files
.idea/
.vscode/
.DS_Store
Thumbs.db

# Playwright
/playwright-report/
/blob-report/
/playwright/.cache/
# TernJS port file
.tern-port

# Stores VSCode versions used for testing VSCode extensions
.vscode-test

# yarn v3
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

# Vite logs files
vite.config.js.timestamp-*
vite.config.ts.timestamp-*